// Color
color-font          = #515B6A
color-link          = #3396D1
color-title         = #2F3339
color-subtitle      = #515B6A
color-negative      = #ecf0f1

// Tipography
font-title          = "Lato", sans-serif
font-default        = "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono           = Monaco, Menlo, Consolas, Courier New, monospace
font-alt            = Georgia, "Times New Roman", Times, serif
base-line-height    = 23px
base-font-size      = 15px

// Button
btn-color           = #949DB2
btn-border          = #717A8F
btn-text            = #515B6A

// Messages
color-notready      = #c0392b
color-recommend     = #2980b9
color-important     = #f39c12

// Breakpoints
phone    = "screen and (max-width: 767px)"
tablet   = "screen and (min-width: 768px) and (max-width: 1023px)"
tvscreen = "screen and (min-width: 1440px)"
