@import './palettes.css';
@import './variables.css';
.body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #fdfdfd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xxs);
}

.sub-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: var(--space-xxs);
  color: var(--main-color);
}

.logo {
  height: 70px;
  width: 100%;
}

.check {
  display: none;
}

.menu {
  position: absolute;
  left: -1000px;
  top: 85px;
  transition-duration: 0.5s;
}

.menu-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: var(--space-md);
  width: 100vw;
  border-top: 1px solid var(--main-color-dark);
}

.btn-hamb {
  display: flex;
  padding: 0 var(--space-xs);
  height: 35px;
  width: 35px;
}

/* show navbar */
#check:checked ~ .menu {
  transform: translateX(1000px);
  transition-duration: 0.3s;
}

.text-center {
  text-align: center;
}

.container {
  margin: var(--space-md) var(--space-xs);
}

.text-upper {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.line-w-sm {
  line-height: var(--space-sm);
}

.intro {
  font-size: 16px;
}

.intro__parag {
  font-size: 12px;
}

.box-image {
  border-radius: 5px;
  box-shadow: 0 0 3px #22222250;
  margin: var(--space) auto;
  width: calc(100% - var(--space));
  height: calc(100% - var(--space-xxs));
}

.box-image__photo {
  border-radius: 5px;
  width: calc(100% - var(--space));
  height: calc(100% - var(--space-xxs));
}

.box-image__title {
  padding: var(--space-xs) 0;
  border-radius: 0 0 5px 5px;
  font-size: 12px;
  background-color: var(--main-color);
  opacity: 0.9;
  z-index: 10;
}

.description {
  font-size: 14px;
  line-height: calc(var(--space-xs) + 5px);
  padding-bottom: var(--space-xxs);
}

.btn-link {
  font-size: 14px;
  padding: var(--space-xxs) var(--space-xs);
  border: 2px solid var(--main-color-dark);
  border-radius: 5px;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: var(--space-sm);
}

.box__item {
  margin: var(--space-xxs);
}

.btn-github {
  display: flex;
  padding: var(--space-xs);
  margin: var(--space-sm) auto;
  width: 70vw;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
}

.git-icon {
  width: var(--space-sm);
  height: var(--space-sm);
  margin-right: var(--space-xxs);
}

.footer {
  padding: var(--space-xs) 0;
  font-size: 14px;
}

.heart {
  color: #ff0000;
}

/* Tablets */
@media only screen and (min-width: 768px) {
  .logo {
    margin-left: var(--space-xs);
  }

  .menu {
    position: static;
    margin-right: var(--space-xs);
  }

  .menu-list__item {
    display: inline;
    margin: var(--space-xxs);
  }

  .menu-item {
    display: inline;
    border: 0;
  }

  .btn-hamb {
    display: none;
  }

  .intro__parag {
    font-size: var(--space-sm);
  }

  .intro__second {
    margin: var(--space-xs);
    font-size: var(--space);
    line-height: var(--space);
  }

  .sub-title {
    line-height: var(--space);
    font-size: var(--space);
  }

  .description {
    line-height: var(--space);
    font-size: calc(var(--space-sm) - 5px);
    margin-bottom: var(--space-xxs);
  }

  .btn-github {
    width: 40vw;
  }

  .other {
    font-size: var(--space-sm);
  }
}
@media only screen and (min-width: 1280px) {
  .logo {
    height: 100px;
    width: 250px;
    margin-left: var(--space-lg);
  }

  .menu {
    margin-right: var(--space-lg);
  }

  .menu-list__item {
    margin-right: var(--space-md);
  }

  .menu-item:hover {
    color: #222;
  }

  .box-image {
    width: 60vw;
  }

  .btn-github {
    width: 15vw;
    transition-duration: 0.3s;
  }

  .btn-github:hover {
    background-color: var(--main-color-darkest);
    transition-duration: 0.3s;
  }

  .btn-link:hover {
    background-color: var(--main-color);
    color: var(--second-color);
    transition-duration: 0.3s;
  }

  .description {
    margin-left: var(--screen-xs);
    margin-right: var(--screen-xs);
  }

  .box__item {
    margin: auto var(--space-xs);
  }

  .box-link:hover {
    box-shadow: 0 0 10px var(--main-color-darkest);
  }

  .box-link {
    margin: auto var(--space-xxs);
    padding: var(--space-xs);
    border-radius: 3px;
    box-shadow: 0 0 3px #22222299;
  }

  .container {
    margin: var(--space-lg) 0;
  }

  .main-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
  }

  .background-stripes {
    width: 18vw;
    z-index: -1;
    opacity: 0.9;
  }

  .s-left {
    position: relative;
  }

  .s-right {
    transform: rotateY(180deg);
    position: relative;
  }

  .stripes-l {
    height: calc(var(--space-sm) - 8px);
    margin: var(--space-xs) 0;
    border: 0;
    border-radius: 0 10px 10px 0;
  }

  .stripes-r {
    height: calc(var(--space-sm) - 8px);
    margin: var(--space-xs) 0;
    border: 0;
    border-radius: 0 10px 10px 0;
  }

  .s-size-sm {
    width: 60%;
  }

  .s-size-md {
    width: 80%;
  }

  .s-size-lg {
    width: 100%;
  }

  .s-first-color {
    background-color: green;
    position: relative;
  }

  .s-second-color {
    background-color: yellow;
  }

  .s-third-color {
    background-color: blue;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
