@media phone
    .header,
    .footer,
    .content,
    .section
        float: none
        display: block
        width: 96%
        margin: 0 auto

    .header
        .logo
            width: 180px
        .lead-title
            font-size: base-font-size - 2
        .nav-link
            margin: 5px auto

    .btn
        padding: 5px
        &:hover
            padding: 5px
